/* Para dispositivos móviles y tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .main_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .busqueda_seccion {
        width: 90%;
        height: 250px;
        margin-top: 50px;
        position: relative;
        left: 0;
        transform: none;
        margin-left: 5%;
        display: none;
    }

    .busqueda_seccion.activo {
        display: block;
    }
    .titulo_busqueda{
        margin-top: 5px;
    }

    .busqueda_contenedor{
        gap: 50px;
    }

    .barra_busqueda{
        margin-top: 40px;
    }

    .botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
    }

    .boton_enviar, 
    .boton_limpiar{
        padding: 9px 50px;
    }

    .titulo {
        font-size: 2rem;
        text-align: center;
    }

    .productos_seccion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 0 15px;
        width: 100%;
        left: 0;
    }

    .card_container {
        height: 300px;
        width: 100%;
        margin-bottom: 20px;
    }

    .agregar_producto {
        width: 90%;
        left: 0;
        
    }

    .boton_agregar, .boton_limpiar_producto {
        width: 100%;
    }

    .toggle_boton {
        margin-top: 35px;
    }

    .titulo-mis-productos {
        font-size: 2rem;
        margin-top: 20px;
    }

    .card_info {
        padding: 8px;
    }

    .card_image img {
        height: 100%;
        object-fit: cover;
    }

    .boton_delate {
        right: 50px;
    }

    .boton_delate img {
        width: 30px;
        height: auto;
    }

    .botones_agregar_limpiar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
    }
}

/* Pantallas muy pequeñas (móviles) */
@media (max-width: 767px) {
    .main_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .busqueda_seccion {
        width: 100%;
        height: 270px;
        margin-top: 35px;
        position: relative;
        left: 0;
        transform: none;
        display: none;
        justify-content: center;
    }

    .busqueda_seccion.activo {
        display: block;
    }

    .busqueda_contenedor {
        gap: 35px;
    }

    .barra_busqueda {
        margin-top: 40px;
    }

    .botones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }

    .boton_enviar, 
    .boton_limpiar {
        padding: 9px 40px;
    }

    .titulo {
        font-size: 1.5rem;
        text-align: center;
    }

    .productos_seccion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0 15px;
        width: 100%;
        left: 0;
    }

    .card_container {
        display: flex;
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }

    .card_image {
        flex: 80;
        display: flex;
        justify-content: center;
    }

    .card_image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .card_info {
        flex: 20;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .agregar_producto {
        width: 95%;
        margin-top: 10px;
        left: 0;
    }

    .boton_agregar, .boton_limpiar_producto {
        width: 100%;
    }

    .toggle_boton {
        display: block;
        margin-top: 22px;
    }

    .titulo-mis-productos {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .card_container:hover {
        transform: scale(1);
    }

    .boton_delate {
        right: 20px;
    }

    .boton_delate img {
        width: 20px;
        height: auto;
    }

    .botones_agregar_limpiar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        gap: 10px;
    }

    /* Imagen expandida */
    .card_image img.imagen-expandible.expandida {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 90%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        transition: transform 0.3s ease;
    }

    /* Fondo oscuro desactivado en móviles */
    .fondo-oscuro {
        display: none !important;
    }
}